*.log
*.cache
*.unsuccessfulbuild
*.suo
*.sdf
/libvmdk/msvscpp/UpgradeLog.XML

# IntelliSense data
/libvmdk/libvmdk/msvscpp/*.ncb
/libvmdk/msvscpp/*.sdf

# Visual Studio user options
/libvmdk/msvscpp/*.suo
*.sln.cache
/libvmdk/msvscpp/*.opensdf

/libvmdk/msvscpp/ipch/*
/libvmdk/msvscpp/libbfio/Debug/*
/libvmdk/msvscpp/libbfio/Release/*
/libvmdk/msvscpp/libbfio/VSDebug/*

/libvmdk/msvscpp/libcdata/Debug/*
/libvmdk/msvscpp/libcdata/Release/*
/libvmdk/msvscpp/libcdata/VSDebug/*

/libvmdk/msvscpp/libcerror/Debug/*
/libvmdk/msvscpp/libcerror/Release/*
/libvmdk/msvscpp/libcerror/VSDebug/*

/libvmdk/msvscpp/libcfile/Debug/*
/libvmdk/msvscpp/libcfile/Release/*
/libvmdk/msvscpp/libcfile/VSDebug/*

/libvmdk/msvscpp/libclocale/Debug/*
/libvmdk/msvscpp/libclocale/Release/*
/libvmdk/msvscpp/libclocale/VSDebug/*

/libvmdk/msvscpp/libcnotify/Debug/*
/libvmdk/msvscpp/libcnotify/Release/*
/libvmdk/msvscpp/libcnotify/VSDebug/*

/libvmdk/msvscpp/libcpath/Debug/*
/libvmdk/msvscpp/libcpath/Release/*
/libvmdk/msvscpp/libcpath/VSDebug/*

/libvmdk/msvscpp/libcsplit/Debug/*
/libvmdk/msvscpp/libcsplit/Release/*
/libvmdk/msvscpp/libcsplit/VSDebug/*

/libvmdk/msvscpp/libcstring/Debug/*
/libvmdk/msvscpp/libcstring/Release/*
/libvmdk/msvscpp/libcstring/VSDebug/*

/libvmdk/msvscpp/libcsystem/Debug/*
/libvmdk/msvscpp/libcsystem/Release/*
/libvmdk/msvscpp/libcsystem/VSDebug/*

/libvmdk/msvscpp/libcthreads/Debug/*
/libvmdk/msvscpp/libcthreads/Release/*
/libvmdk/msvscpp/libcthreads/VSDebug/*

/libvmdk/msvscpp/libfdata/Debug/*
/libvmdk/msvscpp/libfdata/Release/*
/libvmdk/msvscpp/libfdata/VSDebug/*

/libvmdk/msvscpp/libfcache/Debug/*
/libvmdk/msvscpp/libfcache/Release/*
/libvmdk/msvscpp/libfcache/VSDebug/*

/libvmdk/msvscpp/libfguid/Debug/*
/libvmdk/msvscpp/libfguid/Release/*
/libvmdk/msvscpp/libfguid/VSDebug/*

/libvmdk/msvscpp/libuna/Debug/*
/libvmdk/msvscpp/libuna/Release/*
/libvmdk/msvscpp/libuna/VSDebug/*

/libvmdk/msvscpp/libvmdk/Debug/*
/libvmdk/msvscpp/libvmdk/Release/*
/libvmdk/msvscpp/libvmdk/VSDebug/*

/libvmdk/msvscpp/pyvmdk/Debug/*
/libvmdk/msvscpp/pyvmdk/Release/*
/libvmdk/msvscpp/pyvmdk/VSDebug/*

/libvmdk/msvscpp/vmdk_test_open_close/Debug/*
/libvmdk/msvscpp/vmdk_test_open_close/Release/*
/libvmdk/msvscpp/vmdk_test_open_close/VSDebug/*

/libvmdk/msvscpp/vmdk_test_read/Debug/*
/libvmdk/msvscpp/vmdk_test_read/Release/*
/libvmdk/msvscpp/vmdk_test_read/VSDebug/*

/libvmdk/msvscpp/vmdk_test_seek/Debug/*
/libvmdk/msvscpp/vmdk_test_seek/Release/*
/libvmdk/msvscpp/vmdk_test_seek/VSDebug/*

/libvmdk/msvscpp/vmdkinfo/Debug/*
/libvmdk/msvscpp/vmdkinfo/Release/*
/libvmdk/msvscpp/vmdkinfo/VSDebug/*

/libvmdk/msvscpp/vmdkmount/Debug/*
/libvmdk/msvscpp/vmdkmount/Release/*
/libvmdk/msvscpp/vmdkmount/VSDebug/*

/libvmdk/msvscpp/libfvalue/Debug/*
/libvmdk/msvscpp/libfvalue/Release/*
/libvmdk/msvscpp/libfvalue/VSDebug/*

/libvmdk/msvscpp/zlib/Debug/*
/libvmdk/msvscpp/zlib/Release/*
/libvmdk/msvscpp/zlib/VSDebug/*

/libvmdk/msvscpp/Release/*
/libvmdk/msvscpp/VSDebug/*
/libvmdk/msvscpp/x64/*
